

@media only screen and (max-width: 375px) {




    .nav-but-wrap{
        display: inline-block;
    }

    .nav {
        position: fixed;
        height: 100%;
    }

    .nav__content {
        position: fixed;
        visibility: hidden;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }

    .nav__list{
        display: inline-block;
    }

    .nav__list-item {
        opacity: 1;
        font-size: 32px;
        font-weight: 900;
        line-height: 1.15;
        position: relative;
        top: 10px;


    }

    header .logo img{
      animation: inherit;
        position: absolute;
        left: -25px;


    }


    .section_first{
        height: 100vh;
    }


    .the_gear_cage{
        height: 80vh;
    }

    .m_w{
        bottom: 5px;
        left: 10px;
    }

    .m_w h4{
        margin-bottom: 10px;
        position: absolute;
        z-index: 1;
}


    .m_w p{
        font-size: 12px;
        line-height: 10px;
        padding-bottom: 5px;
        margin-right: 10px;
        justify-content: left;
        position: absolute;
        bottom: 120px;
        text-align: left;
        z-index: 1;
    }
    .m_w a{
        font-size: 10px;
        padding: 4px 4px 4px 4px;
        position: absolute;
        bottom: 70px;
    }



    .section_first div{
        top: 5px;

    }
    .section3, .section2, .section5{
        padding-left: 90px;
    }
.ourclients{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ourclients a{
    margin-bottom: 10px;
}

.container{
    padding-left: 10px;
    padding-right: 5px;
}
footer .right_item ul:first-of-type{
    margin-right: 15px;

}

footer .right_item form{
    max-width: 120px;
    height: 10px;
}
    footer .right_item form{
        position: relative;

    }
    footer .right_item form button{
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;

    }
    .owl-nav{
        justify-content: space-around;
    }


}
