

@media only screen and (max-width: 375px) {


header .d-flex{
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}

    header nav ul li:nth-child(2):after {
        content: "NEW";
        display: none;
    }

header nav ul li {
    margin: 5px;
}

    header nav ul li a{
        color: #FFFFFF;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 10px;
    }

    header nav li:last-of-type{
        padding: 4px 4px 4px 4px;
        text-align: center;
    }

    header nav li:last-of-type a{

        font-size: 12px;
        line-height: 10px;
    }
header nav li:first-of-type a{
    font-size: 12px;
    line-height: 10px;
    margin-left: 10px;
}

    .section_first{
        height: 100vh;
    }


    .the_gear_cage{
        height: 80vh;
    }

    .m_w{
        bottom: 5px;
        left: 10px;
    }

    .m_w h4{
        margin-bottom: 10px;
        position: absolute;
        z-index: 1;
}


    .m_w p{
        font-size: 12px;
        line-height: 10px;
        padding-bottom: 5px;
        margin-right: 10px;
        justify-content: left;
        position: absolute;
        bottom: 120px;
        text-align: left;
        z-index: 1;
    }
    .m_w a{
        font-size: 10px;
        padding: 4px 4px 4px 4px;
        position: absolute;
        bottom: 70px;
    }



    .section_first div{
        top: 5px;

    }
    .section3, .section2, .section5{
        padding-left: 90px;
    }
.ourclients{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ourclients a{
    margin-bottom: 10px;
}

.container{
    padding-left: 10px;
    padding-right: 5px;
}
footer .right_item ul:first-of-type{
    margin-right: 15px;

}

footer .right_item form{
    max-width: 120px;
    height: 10px;
}
    footer .right_item form{
        position: relative;

    }
    footer .right_item form button{
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;

    }
    .owl-nav{
        justify-content: space-around;
    }


}
